.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: rgba(250, 250, 250, 0.8);
}
.spinner-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #005c43 !important;
}
