<app-spinner [isVisible]="isVisible"></app-spinner>
<div class="wrapper-login">
  <div class="login-middle">
    <div class="content-login">
      <mat-card>
        <mat-card-content>
          <form
            class="form-login"
            [formGroup]="loginForm"
            (ngSubmit)="login(loginForm)"
            novalidate
          >
            <div class="login-image">
              <img src="../../../assets/logo.png" height="120" width="120" />
            </div>
            <div class="login-control-input">
              <mat-icon>email</mat-icon>
              <mat-form-field class="login-form-field">
                <input
                  matInput
                  placeholder="Correo Electrónico"
                  aria-label="Email"
                  formControlName="email"
                />
                <mat-error *ngIf="loginForm.get('email').hasError('required')"
                  >Campo Correo Electrónico es Requerido.</mat-error
                >
                <mat-error *ngIf="loginForm.get('email').hasError('email')"
                  >Campo Correo Electrónico no Valido.</mat-error
                >
              </mat-form-field>
            </div>            
            <div class="login-control-input">
              <mat-icon>vpn_key</mat-icon>
              <mat-form-field class="login-form-field">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  matInput
                  placeholder="Password"
                  arial-label="Password"
                  formControlName="password"
                />
                <mat-icon
                  style="cursor: pointer;"
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                >
                  {{ hidePassword ? "visibility_off" : "visibility" }}
                </mat-icon>
                <mat-error
                  *ngIf="loginForm.get('password').hasError('required')"
                  >Campo Password es Requirido.</mat-error
                >
                <mat-error
                  *ngIf="loginForm.get('password').hasError('minlength')"
                  >Mínimo 2 Caracteres.</mat-error
                >
                <mat-error
                  *ngIf="loginForm.get('password').hasError('maxlength')"
                  >Maximo a 20 Caracteres</mat-error
                >
              </mat-form-field>
            </div>
            <div *ngIf="loginError">
              <p class="login-error">{{ loginError }}</p>
            </div>
            <div class="text-center" style="margin-top:10px;">
              <button
                mat-raised-button
                type="submit"
                color="primary"
                [class.spinner]="loading"
                [disabled]="loading"
              >
                Entrar
              </button>
            </div>
            <div class="row d-none">
              <div class="col-12 mt-4 text-right">
                <a routerLink="/recover-password"> Olvidé mi Contraseña</a>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
