<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <a routerLink="/home">
          <img
            src="../../../assets/logo.png"
            style="width: 80px; height: 100%;"
          />
        </a>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <span *ngFor="let item of navItems">
          <!-- Handle branch node buttons here -->
          <span *ngIf="item.children && item.children.length > 0">
            <button
              mat-button
              [matMenuTriggerFor]="menu.childMenu"
              [disabled]="item.disabled"
            >
              <mat-icon>{{ item.iconName }}</mat-icon>
              {{ item.displayName }}
            </button>
            <app-horizontal #menu [items]="item.children"></app-horizontal>
          </span>
          <!-- Leaf node buttons here -->
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-button [routerLink]="item.route">
              {{ item.displayName }}
            </button>
          </span>
        </span>
        <span>
          <button mat-button [matMenuTriggerFor]="userOption">
            <mat-icon>person_outline</mat-icon> {{ username }}
          </button>
          <mat-menu #userOption="matMenu">
            <span>
              <span>
                <button mat-button routerLink="/logout">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar Sesión</span>
                </button>
              </span>
            </span>
          </mat-menu>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a *ngFor="let item of navItems">
          <!-- Handle branch node buttons here -->
          <span *ngIf="item.children && item.children.length > 0">
            <button
              mat-button
              [matMenuTriggerFor]="menu.childMenu"
              [disabled]="item.disabled"
            >
              <mat-icon>{{ item.iconName }}</mat-icon> {{ item.displayName }}
            </button>
            <app-horizontal #menu [items]="item.children"></app-horizontal>
          </span>
          <!-- Leaf node buttons here -->
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-button [routerLink]="item.route">
              {{ item.displayName }}
            </button>
          </span>
        </a>
        <a mat-list-item routerLink="/logout">
          <mat-icon>exit_to_app</mat-icon> <span>&nbsp; Cerrar Sesión</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
