<app-vertical *ngIf="displayMenu"></app-vertical>
<div
  id="idleModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          Sesión Expirada
        </h4>
      </div>
      <div class="modal-body">
        <p>{{ idleState }}</p>
        <div class="row mrgbtm">
          <div class="col-12" align="end">
            <button
              type="button"
              (click)="logout()"
              mat-raised-button
              color="default"
              style="margin-right: 5px;"
            >
              Cancelar
            </button>
            <button
              type="button"
              (click)="stay()"
              mat-raised-button
              color="primary"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
