::ng-deep .ngx-datatable.ngx-table {
  .datatable-header {
    .datatable-header-cell {
      background: #005c43 !important;
      color: white;
    }
  }

  .datatable-body .datatable-row-detail {
    background-color: white !important;
    height: auto !important;
    padding: 0 !important;
  }
}

.table-results-base {
  min-height: 500px;
  position: relative;
}

.ngx-datatable.material {
  background: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ngx-datatable.material .datatable-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
